/* BACKGROUND */
.jumbo {
  background-color: #fcfcfc;
}

/* Navbar */
.navbar,
.navbar-default {
  background-color: #1565c0;
}

.price,
.news {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
}

.price {
  margin-right: 2em;
}

.news {
  margin-right: 12em;
}

.head {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15%;
}

/* TITLE: Prices*/
.title {
  margin-bottom: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

/* Table */
.table {
  box-shadow: 1px 1px 5px gray;
}

/* Crypto img & name */
.cur-img {
  max-width: 20px;
  max-height: 20px;
}

.cur-header {
  margin-left: 2%;
  font-size: 1em;
}

/* Crypto data */
.data-cap,
.data-price,
.data-change {
  color: orangered;
}
