.jumbo {
  background-color: #fcfcfc;
}

.navbar,
.navbar-default {
  background-color: #1565c0;
}

.price,
.fav {
  font-size: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.price {
  margin-right: 2em;
}

.fav {
  margin-right: 10em;
}

.head {
  margin-left: 10em;
}

.cur-img {
  max-width: 20px;
  max-height: 20px;
}

.cur-header {
  margin-left: 2%;
  font-size: 1em;
}

.data-cap,
.data-price,
.data-change {
  color: orangered;
}
